<!DOCTYPE html>
<html>
  <head>
    <title>OnTimeKerry</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
    <div class="nav-wrapper">
      <h1> On Time</h1>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if logged_in? && session[:type] == "merchant" %>
        <li><a href='<%= merchant_path(current_user.id) %>' >Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
        <% else logged_in? && session[:type] == "contractor" %>
        <li><a href='/open_orders'>Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
