<!DOCTYPE html>
<html>
  <head>
    <title>OnTime - Delivery Management</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="http://d3js.org/d3.v2.min.js"></script>
    <!-- Latest compiled and minified CSS -->
  </head>
  <nav class="navbar navbar-default">
    <h1>On Time</h1>
    <div class="container-fluid">
      <div class="nav-wrapper navbar-header">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if logged_in? && session[:type] == "merchant" %>
            <a href='<%= merchant_path(current_user.id) %>' >Dashboard</a>
          <a href="/logout">Logout</a>
          <% else logged_in? && session[:type] == "contractor" %>
            <li><a href='/open_orders'>Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
          <% end %>
        </ul>
      </div>

    </div>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
